.container {
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}
.background {
    max-width: 1420px;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(
        51.39deg,
        #0065bd 66.32%,
        #0759a5 72.87%,
        #033a84 81.3%,
        #012670 88.35%,
        #001f69 93.12%,
        #0f181d 116.4%
    );
}
body {
    width: 100%;
    font-family: "Roboto", sans-serif;
}
.login {
    width: 320px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}
.logo__link {
    width: 64px;
    padding-top: 18px;
    display: none;
}
.address {
    display: flex;
    flex-direction: column;
    padding-top: 6px;
    display: none;
}
.address a {
    text-decoration: none;
    font-style: normal;
    font-weight: 300;
    color: #061058;
    margin-top: 7px;
}

.login a {
    position: relative;
    text-decoration: none;
}
.login-button {
    display: block;
    margin-left: 20px;
    width: 145px;
    height: 72px;
    margin-top: 16px;
    background-color: #00a87c;
    box-shadow: inset 0px 7px 7px rgba(0, 0, 0, 0.25);
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    color: #ffffff;
    font-size: 18px;
}
.login-button::after {
    content: "";
    display: inline-block;
    width: 22px;
    height: 10px;
    background-image: url(../img/arrow.svg);
}
.banner-text1,
.banner-text2,
.banner-text3,
.banner-text4,
.banner-text5 {
    display: none;
}

.banner-text1 {
    color: #ffffff;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 16px;
    padding-top: 50px;
}
.banner-text2 {
    color: #ffffff;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 24px;
    padding-top: 90px;
}
.banner-text3 {
    color: #ffffff;
    font-weight: 300;
    font-size: 16px;
    padding-top: 200px;
}
.banner-text3 span {
    text-transform: uppercase;
    font-weight: 500;
}
.banner-text4 {
    color: #ffffff;
    font-weight: 300;
    font-size: 16px;
    padding-top: 290px;
}
.banner-text4 {
    color: #ffffff;
    font-weight: 300;
    font-size: 16px;
    padding-top: 290px;
}
.banner-text4 span:nth-child(1) {
    text-transform: uppercase;
    font-weight: 500;
}
.banner-text4 span:nth-child(2) {
    width: 200px;
    font-weight: 300;
    font-size: 14px;
}
.banner-text5 {
    color: #ffffff;
    font-weight: 300;
    font-size: 16px;
    padding-top: 290px;
}
.banner-text5 span:nth-child(1) {
    text-transform: uppercase;
    font-weight: 500;
}
.banner-text5 span:nth-child(2) {
    width: 300px;
    font-weight: 300;
    font-size: 14px;
}
@media screen and (min-width: 480px) {
    .login {
        width: 480px;
    }
   .banner-text2 {
       display: block;
       padding-right: 20px;
   }
   
}